{% extends "base_head.html" %}
{% block title %} Dashboard{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block welcome_banner %}
{% endblock %}
{% block user_view %}
      <div class="container">
        <form action="#" method="post">
        <div class="row">
          <div class="col-md-12">
            <h4 class="entry-title"><span>ATTENDANCE</span></h4>
            <div class="form-group">
              <label class="control-label col-sm-3 bmd-label-floating">Select Batch<span class="text-danger">*</span></label>
              <div class="col-md-8 col-sm-9">
                <select name="batch" class="form-control">
                  <option value="batch-1">Batch-1</option>
                  <option value="batch-2">Batch-2</option>
                  <option value="batch-3">Batch-3</option>
                  <option value="batch-4">Batch-4</option>
                  <option value="batch-5">Batch-5</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-3 bmd-label-floating">Select Session<span class="text-danger">*</span></label>
              <div class="col-md-8 col-sm-9">
                <select name="session" class="form-control">
                  <option value="frist_session">First Session</option>
                  <option value="second_session">Second Session</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="attendence_date" class="bmd-label-floating control-label col-sm-3">Attendance Date<span class="text-danger">*</span></label>
              <div class="col-md-8 col-sm-9">
                <input type="date" class="form-control" name="attendence_date" id="attendence_date">
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-6 pl-4">
                <a href="#">First Attendance</a>
              </div>
              <div class="col-6 pl-5">
                <a href="#">Last Attendance</a>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    
    </div>
{% endblock %}